/* Write your CSS here */
.bg-container {
  background-color: #3a4b63;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
}
.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.image {
  width: 30px;
  height: 20px;
  margin: 10px;
}
.heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}
.para {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
}
